@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #bb86fc;
    /* Purple */
    --secondary-color: #03dac6;
    /* Teal */
    --background-color: #121212;
    /* Dark Gray */
    --surface-color: #1e1e1e;
    /* Slightly lighter dark gray */
    --text-primary: #e0e0e0;
    --text-secondary: #a0a0a0;
    --border-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
    line-height: 1.6;
    overflow-x: hidden;
}